*{
  margin: 0;
  padding: 2px;
}
body{
  border: solid 10px #033F98;
  background:#0D1DFE;
  background: cover;
  padding: 30px;
}

#header{
  font-size: 35px;
  text-align: center;
}
#header > img{
  padding: 30px;
  width: 100%;
}

@media (max-width:500px){
  #header{
    font-size: 20px;
  }
  .mainPokeball > img{
    width:100px;

  }
  #pokeball{
    width: 150px;
    height:350px;
  }
}

#container{
  width: 100%;
  height: auto;
  margin: 0 ;

}


#pokeball{
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: slideAndZoom 2s  ;
  animation-fill-mode: forwards;
  background-color: #3B4CCA;
  border-radius: 50%;
  height: 100px;
  width:50px;
}

@keyframes slideAndZoom {
  0%{
    width: 600px;
    height: 600px;
  }

  100%{
    width:200px;
    height:200px;

  }
}

@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}


/* .hidden{
  opacity: 0;
} */
.mainPokeball> div{
  display: inline-block;
  margin: 10px;
  width: 250px;
  min-height:200px;
  background-color:#3B4CCA ;
  border: solid 10px #033F98;


}

.infoDiv{
  width: 200px;
  height: 300px;
  /* margin-top: 10px; */
  padding:0 10px 10px;
  background-color:#FF0000;
  position: relative;
  top:0;
}
.infoDiv > p{
  font-family:cursive ;
  font-size: 25px;
  padding:1em;
  text-align: left;
}
img{
  width: 180px;
  padding:0 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto

}
.mainPokeball{
  padding: 0;
  margin: 0;
  width:100%;
  animation:fadeIn 2s;

}

/* .firstBox{
  margin-top: 500px;
} */

.ok li{
  font-size: 20px;
  list-style-type: none;
  color:white;
  text-align:  center;
}
.nah{
  font-size: 20px;
  list-style-type: none;
  color:white;
  align-items: center;
}
h3{
  font-size:30px;
}


#trainer{
  width: 100%;
  height: 50px;
}
