*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('cloud-background.jpg');
  background: cover;
  padding: 30px;
}

#header{
  font-size: 35px;
  text-align: center;
}
#header > h1{
  padding: 30px;
}

@media (max-width:500px){
  #header{
    font-size: 20px;
  }
  .mainPokeball > img{
    width:100px;
  }
  #pokeball{
    width: 150;
  }

}

#container{
  width: 100%;
  height: auto;
  margin: 0 ;

}

#pokeball:hover{
  background-color: yellow;
  border-radius: 50%;
}
#pokeball{
  width:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: slideAndZoom 2s  ;
  animation-fill-mode: forwards;
}

@keyframes slideAndZoom {
  0%{
    width: 500px;
  }

  100%{
    width:200px;

  }
}

@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}


/* .hidden{
  opacity: 0;
} */

.pokemoncards > img{
  width: 180px;
  padding:30px;
  margin: 20px;
}
.mainPokeball{
  padding: 0;
  margin: 0;
  width:100%;
  display: none;
  animation:fadeIn 2s;
}

.pokemoncards{

  width: 500px;
  background-color: yellow;
}
